st-rate {
  md-toolbar {
    background-color: transparent !important;
    position: absolute;

    md-icon {
      color: black !important;
    }

    img {
      max-height: 100%;
      position: relative;
      top: 8px;
    }
  }

  md-grid-tile {
    cursor: pointer;
    img {
      max-width: 100%;
      max-height:100%;
    }
  }

  h1 {
    position: absolute;
    bottom: 16px;
    font-size: 60px;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .wrapper {
    display: flex;
    justify-items: center;
    align-items: center;
    height: 100%;


    * {
      outline:none;
    }

    > a {
      flex: 1 1 auto;
      display: flex;
      height:80%;
      margin:16px;
      cursor: pointer;

      &.happy.active {
        background-color: rgba(34, 255, 51, 0.21);
      }
      &.neutral.active {
        background-color: rgba(255, 179, 37, 0.21);
      }
      &.sad.active {
        background-color: rgba(255, 0, 0, 0.21);
      }

      img {
        margin: auto;
        max-width: 100%;
        max-height: 100%;
        z-index: 1000;
      }
    }
  }
}
