<md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
        <img src="./images/logo.png">
        <div flex></div>
        <md-menu md-position-mode="target-right target">
            <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
                <md-icon md-menu-origin>more_vert</md-icon>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item>
                    <md-button ng-click="$ctrl.close()">
                        <div layout="row" flex>
                            <p flex>Close sessions feedback</p>
                        </div>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</md-toolbar>
<h1>How did you like it?</h1>
<div class="wrapper">
    <a ng-repeat="emotion in [$ctrl.HAPPY, $ctrl.NAH, $ctrl.SAD]"
         ng-click="$ctrl.doFeedback(emotion)"
         ng-class="{[emotion]:emotion, 'active': $ctrl.show[emotion]}">
        <img ng-src="{{$ctrl.emotionURL[emotion]}}" title="{{emotion}}">
    </a>
</div>
