st-home {
.time-slot-row {

  md-grid-list {
    margin:10px;

    md-grid-tile {
      figure {
        justify-content: baseline;
        margin-left: 16px
      }

      h4, h5 {
        margin: 0;
      }
    }
  }

  md-toolbar {
    min-height: 48px;
  }
}
}


.test {
  color: pink
}
