<div ng-repeat="timeSlot in $ctrl.scheduleObj" class="time-slot-row">
    <md-toolbar class="md-primary">
        <div class="md-toolbar-tools">
            {{timeSlot.startTime}} - {{timeSlot.endTime}}
        </div>
    </md-toolbar>
    <md-grid-list md-cols="3" md-row-height="3:1" md-gutter="12px">
        <md-grid-tile class="gray md-whiteframe-2dp" md-rowspan="1" md-colspan="1"
                      ui-sref="rate({sessionId: event})"
                      ng-repeat="event in timeSlot.sessions">
            <div>
                <h4>{{$ctrl.ROOMS[$index]}}</h4>
                <h5>{{$ctrl.sessions[event].title}}</h5>
            </div>
        </md-grid-tile>
    </md-grid-list>
</div>


